---
import { Image } from "astro:assets";
import SkillTag from "../components/SkillTag.astro";
import ProjectContainer from "../components/ProjectContainer.astro";
import Layout from "../layouts/Layout.astro";
import cacatuaImg from "../images/cacatua.png";
import championsGgImg from "../images/champions-gg.png";
import placeholderImg from "../images/placeholder.png";
import CallToAction from "../components/CallToAction.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout>
    <section
        id="hero"
        class="flex h-[90vh] flex-col justify-center gap-8 xl:h-screen"
    >
        <h1>
            <span class="text-2xl font-medium">Hey, I'm</span><br /><span
                class="text-4xl font-bold">Brenden Kohut</span
            >
        </h1>
        <p class="text-xl font-semibold">Full-Stack Developer</p>
        <p>
            Recent graduate from Fanshawe College, committed to building high
            quality and scalable applications.
        </p>
        <a
            class="mt-20 flex justify-center transition-transform duration-200 hover:scale-125 hover:cursor-pointer"
            href="#about"
        >
            <svg
                class="fill-black dark:fill-white"
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                ><path
                    d="M440-800v487L216-537l-56 57 320 320 320-320-56-57-224 224v-487h-80Z"
                ></path></svg
            >
        </a>
    </section>
    <section id="about" class="flex flex-col gap-8">
        <h1 class="mt-4 text-center text-4xl font-bold">About</h1>
        <section id="story" class="flex flex-col gap-4">
            <h2 class="text-center text-2xl font-semibold">Story</h2>
            <p>
                Hey! I'm Brenden Kohut, a Software Developer based in London,
                Ontario. I am a new grad out of Fanshawe College's Computer
                Programming and Analysis program. I specialize in Full-stack
                Development with ASP.NET Core and React, but I am also
                comfortable on various other technologies and am always willing
                to learn more.
            </p>
            <p>
                I am always looking for new oppotunities and connections, and am
                currently looking for a entry level position, so feel free to
                reach out and connect with me if you like what you see!
            </p>
        </section>
        <section id="tools-and-technologies" class="flex flex-col gap-4">
            <h2 class="text-center text-2xl font-semibold">
                Tools and Technologies
            </h2>
            <section id="main" class="flex flex-col gap-4">
                <div class="flex flex-col items-center">
                    <h3 class="text-center font-semibold">My Stack</h3>
                </div>
                <div class="flex flex-wrap justify-center gap-4">
                    <SkillTag>ASP.NET Core</SkillTag>
                    <SkillTag>C#</SkillTag>
                    <SkillTag>React</SkillTag>
                    <SkillTag>TypeScript</SkillTag>
                    <SkillTag>Docker</SkillTag>
                    <SkillTag>MS SQL</SkillTag>
                </div>
            </section>
            <section id="other" class="flex flex-wrap justify-center gap-4">
                <div class="flex flex-col items-center">
                    <h3 class="text-center font-semibold">Additional Tools</h3>
                </div>
                <div class="flex flex-wrap justify-center gap-4">
                    <SkillTag>Next.js</SkillTag>
                    <SkillTag>Astro</SkillTag>
                    <SkillTag>Express</SkillTag>
                    <SkillTag>Fastify</SkillTag>
                    <SkillTag>C++</SkillTag>
                    <SkillTag>Java</SkillTag>
                    <SkillTag>Spring Boot</SkillTag>
                    <SkillTag>Angular</SkillTag>
                    <SkillTag>Vue.js</SkillTag>
                    <SkillTag>PostgreSQL</SkillTag>
                </div>
            </section>
        </section>
    </section>
    <section id="projects" class="flex flex-col items-center gap-8">
        <h1 class="mt-4 text-center text-4xl font-bold">Projects</h1>
        <section
            class="flex flex-col gap-8 md:flex-row md:flex-wrap md:justify-center"
        >
            <ProjectContainer reference="projects/cacatua/">
                <Image
                    loading="eager"
                    slot="image"
                    src={cacatuaImg}
                    class="max-h-56 w-fit rounded-md"
                    alt="Main screen of Cacatua application"
                />
                <h3 slot="title">Cacatua</h3>
                <p slot="description">
                    A capstone project for my Managing Software Projects class.
                    It is a is a
                    <cite>Discord</cite>-like desktop application, geared
                    towards project management.
                </p>
            </ProjectContainer>
            <ProjectContainer
                reference="projects/champions-gg/"
                workInProgress={true}
            >
                <Image
                    loading="eager"
                    slot="image"
                    src={championsGgImg}
                    class="max-h-56 w-fit rounded-md"
                    alt="Home page of Champions GG website"
                />
                <h3 slot="title">Champions GG</h3>
                <p slot="description">
                    A personal project for Esports event management. Users can
                    create teams, host leagues, tournaments and other events for
                    multiple game titles.
                </p>
            </ProjectContainer>
            <ProjectContainer
                reference="projects/template-company-website/"
                workInProgress={true}
            >
                <Image
                    loading="eager"
                    slot="image"
                    src={placeholderImg}
                    class="max-h-56 w-fit rounded-md"
                    alt="Placeholder image"
                />
                <h3 slot="title">Template Company Website</h3>
                <p slot="description">
                    An open source personal project that anyone can build off
                    of. It will contain a landing page, a blog, and
                    authentication for dynamically adding images.
                </p>
            </ProjectContainer>
        </section>
        <CallToAction reference="projects/" text="More Projects" />
    </section>
    <section id="contact" class="flex flex-col items-center gap-8">
        <h1 class="mt-4 text-center text-4xl font-bold">Contact</h1>
        <section class="w-full text-center text-xl">
            Feel free to use this form to contact me!
        </section>
        <section class="my-8 flex h-full w-full grow flex-col items-center">
            <ContactForm />
        </section>
    </section>
</Layout>
