---
import { Image } from "astro:assets";

const {
  reference,
  title,
  imageSrc,
  imageAlt,
  eager,
  description,
  workInProgress,
} = Astro.props;
---

<a
  href={reference}
  class="rounded-md bg-white shadow-xl shadow-[#616188] transition-transform duration-300 ease-in-out hover:scale-97 dark:bg-black dark:shadow-[#4c3f61]"
>
  <section class="flex h-full w-72 cursor-pointer flex-col rounded-md p-2">
    <div
      class="flex w-full justify-center rounded-md bg-neutral-100 p-2 dark:bg-neutral-900"
    >
      <Image
        loading={eager ? "eager" : "lazy"}
        src={imageSrc}
        class="max-h-56 w-fit rounded-md"
        alt={imageAlt}
      />
    </div>
    <div class="w-full p-2 py-1 text-lg font-semibold">
      <p>
        {title}
      </p>
    </div>
    {
      workInProgress && (
        <div class="text-neutral- w-full p-2 py-1 text-xs font-light text-neutral-700 dark:text-neutral-300">
          Work in Progress
        </div>
      )
    }
    <div class="w-full grow p-2 text-sm">
      <p>{description}</p>
    </div>
  </section>
</a>
