---
import TagContainer from "../../components/TagContainer.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import AboutPageImage from "../../images/template-company-website-about.png";
import BlogPageImage from "../../images/template-company-website-blog.png";
import SolutionsPageImage from "../../images/template-company-website-solutions.png";
import ContactPageImage from "../../images/template-company-website-contact.png";

const techStack: Array<string> = [
  "Astro",
  "Sanity",
  "React",
  "Bun",
  "Netlify",
  "Tailwind CSS",
];

const githubLink = "https://github.com/brendokht/template-company-website";
---

<Layout>
  <h1>Template Company Website</h1>
  <section id="summary">
    <h2>Summary</h2>
    <p>
      Template Company Website is a template Astro website with Sanity
      integrated. This was mainly a simple demo to step in the direction of
      freelancing, using it to learn how to integrate a Sanity blog into an
      Astro website.
    </p>
  </section>
  <section id="tech-stack">
    <h2>Tech Stack</h2>
    <TagContainer tags={techStack.map(t => ({ text: t }))} />
  </section>
  <section id="images">
    <h2>Images</h2>
    <h3>About Page</h3>
    <Image
      src={AboutPageImage}
      alt={"Template Company Website About Page"}
      layout="fixed"
      class="w-full aspect-video object-contain"
      loading="eager"
    />
    <h3>Blog Page</h3>
    <Image
      src={BlogPageImage}
      alt={"Template Company Website Blog Page"}
      layout="fixed"
      class="w-full aspect-video object-contain"
      loading="lazy"
    />
    <h3>Solutions Page</h3>
    <Image
      src={SolutionsPageImage}
      alt={"Template Company Website Solutions Page"}
      layout="fixed"
      class="w-full aspect-video object-contain"
      loading="lazy"
    />
    <h3>Contact Page</h3>
    <Image
      src={ContactPageImage}
      alt={"Template Company Website Contact Page"}
      layout="fixed"
      class="w-full aspect-video object-contain"
      loading="lazy"
    />
  </section>
  <section id="cta">
    <h2>Source Code</h2>
    <p>The source code is available on GitHub <a href={githubLink}>here</a>.</p>
  </section>
</Layout>
